:root {
  --depth: calc(var(--index) * 88);
  --index: calc(1vw + 1vh);
  --gap: 30px;

  --image-width: 2;
  --image-height: 3;
  --last-image-width: 5;
  --last-image-height: 3;

  --standard-border-radius: 15px;

  --dark-color: #050505;
  --light-color: #fafafa;

  --transition-standard-duration: 250ms;
  --transition-function: cubic-bezier(.1,.65,0,1);
}

::-webkit-scrollbar { width: 0; opacity: 0; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition-duration: var(--transition-standard-duration);
}
html,
body {
  max-width: 100vw;
  height: var(--depth);
  overflow-x: hidden;
  scroll-behavior: unset;
}
a {
  color: inherit;
  text-decoration: none;
}

