.changeThemeButton {
    width: calc(var(--index) * 2.5);
    height: calc(var(--index) * 2.5);

    border-width: 5px;
    border-style: solid;
    border-radius: var(--standard-border-radius);
    outline-width: 1px;
    outline-style: solid;

    position: fixed;
    right: 20px;
    bottom: 20px;

    transition-duration: var(--transition-standard-duration);
    cursor: pointer;
}
.changeThemeButton:hover {
    border-radius: 50%;
}

.dark {
    background-color: var(--light-color);
    outline-color: var(--light-color);
    border-color: var(--dark-color);
}
.light {
    background-color: var(--dark-color);
    outline-color: var(--dark-color);
    border-color: var(--light-color);
}